celery==5.3.1
xlrd==1.2.0  # don't upgrade (xlsx!)

fastapi==0.101.1
SQLAlchemy==2.0.20
asyncio~=3.4.3
aioredis~=2.0.1
pydantic==2.1.1
pytest~=7.4.0
httpx~=0.24.1
uvicorn==0.23.2

# manual add
asgi-lifespan==2.1.0
asyncpg==0.28.0
pydantic-settings==2.0.3
psycopg2-binary==2.9.7
pytest-asyncio==0.21.1
SQLAlchemy-Utils==0.41.1

# pre commit
pre-commit==3.3.3
mypy~=1.5.1

google-api-python-client~=2.97.0
google-auth-oauthlib~=1.0.0
oauth2client~=4.1.3
